@page "/customer/register/{emailAddress}"
@layout ApplicationFormLayout;
@using bank_app_frontend.Components.Layout;
@using Models;
@using Services
@inject ApplicantService applicantService;
@inject CustomerService customerService;
@inject NavigationManager navigationManager;
@inject ToastMessageService toastMessageService;
<div class="container mt-5">
    <h3 class="text-center text-white">Customer Registeration Form</h3>

    @if (isApplicantLoading)
    {
        <div class="d-flex justify-content-center">
            <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
    }
    else if(applicant == null)
    {
        <div class ="mt-5 d-flex justify-content-center">
            <Card Style="width:18rem;">
                <CardBody>
                    <CardTitle>Applicant Not Found</CardTitle>
                    <CardText>@notFoundMessage</CardText>
                </CardBody>
            </Card>
       </div>
    }
    else
    {
        <div class="mt-5 d-flex justify-content-center">

            <div class="col-md-6 shadow bg-white rounded">

                <form class="mb-3" @onsubmit="SubmitData">

                    <div class="form-group row m-2">
                        <label for="customerName" class="col col-sm-4 text-center col-form-label">Name:</label>
                        <div class="col col-sm-8">
                            <input type="text" class="form-control" placeholder="User Name" disabled value="@applicant?.ApplicateName">
                        </div>
                    </div>
                    <div class="form-group row m-2">
                        <label for="customerCNIC" class="col col-sm-4 text-center col-form-label">CNIC:</label>
                        <div class="col col-sm-8">
                            <input type="text" class="form-control" placeholder="User CNIC" disabled value="@applicant?.CNIC">
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label for="customerAddress" class="col col-sm-4 text-center col-form-label"> Address:</label>
                        <div class="col col-sm-8">
                            <input type="text" class="form-control" placeholder="User Address" disabled value="@applicant?.Address">
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label for="userName" class="col col-sm-4 text-center col-form-label">User Name:</label>
                        <div class="col col-sm-8">
                            <input type="text" class="form-control" placeholder="User Name" required minlength="3" maxlength="10" @bind-value="customer.UserName">
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label for="inputPassword" class="col col-sm-4 text-center col-form-label">Password:</label>
                        <div class="col col-sm-8">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" required minlength="5" maxlength="15" @bind-value="customer.Password">
                        </div>
                    </div>

                    <div class="form-group row m-2">
                        <label for="inputPassword" class="col col-sm-4 text-center col-form-label">Confirm Password:</label>
                        <div class="col col-sm-8">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" required minlength="5" maxlength="15" @bind-value="confirmPassword">
                        </div>
                    </div>

                    <div class="mt-2 text-center">
                        <Button Type="ButtonType.Submit" Color="ButtonColor.Primary">Enter Details</Button>
                    </div>
                </form>
            </div>
        </div>
    }

</div>

<style>
    body {
        background-color: #7BABF0;
    }
</style>


@code {
    [Parameter]
    public string emailAddress { get; set; }
    private Customer customer = new Customer();
    private string confirmPassword = string.Empty;
    private Applicant applicant;
    private bool isApplicantLoading = false;
    private string notFoundMessage = "";

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await getApplicantData();
    }

    private async Task getApplicantData()
    {
        isApplicantLoading = true;
        applicant = await applicantService.GetApplicantByEmailAddress(emailAddress);
        isApplicantLoading = false;
        if (applicant == null)
        {
            notFoundMessage = $"Applicant not found with email: {emailAddress}";
        }
        else if (applicant?.Customer.Password != "" || applicant?.Customer.UserName != "")
        {
            navigationManager.NavigateTo("Login");
        }
    }

    public async void SubmitData()
    {
        if (!customer.Password.Equals(confirmPassword))
        {
            //ShowMessage(ToastType.Warning, "WARNING!", "Passwords do not match");
            toastMessageService.ShowToastMessage(ToastType.Warning, "WARNING!", "Passwords do not match");
        }
        else
        {
            customer.CustomerId = applicant.Customer.CustomerId;
            Customer updatedCustomer = await customerService.UpdateCustomer(customer);
            if(updatedCustomer!=null)
            {
                navigationManager.NavigateTo("Login"); 
            }
        }
    }

}

